@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LibreFranklin';
  src: url(@assets/fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url(@assets/fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url(@assets/fonts/Libre_Franklin/static/LibreFranklin-Light.ttf);
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: 'Nunito';
  src: url(@assets\fonts\Nunito\static\Nunito-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url(@assets/fonts/Nunito/static/Nunito-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Nunito';
  src: url(@assets/fonts/Nunito/static/Nunito-Light.ttf);
  font-style: normal;
  font-weight: lighter;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
}

body {
  @apply bg-light;
}

aside {
  height: calc(100vh - 40px);
}

@media screen and (max-width: 768px) {
  aside {
    width: calc(100vw - 32px);
  }
}
