/* Toasts Animation */
.toast-anim {
  animation: toast-fade-in-right 0.7s;
}

.toast-anim-out {
  animation: toast-fade-out-right 0.7s;
}

@keyframes toast-fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toast-fade-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
